.search-wrap{
    .search-con.up{transform: translateY(0);}
    .search-con{
        transform: translateY(150px);
        z-index: 99;
        transition: all .5s;
        padding-bottom: 10px;
        position: relative;
        .search-in{width: calc(100% - 80px);}
        .btn-search{width: 70px;float: right;height:32px;
            a{color:#fff;}
        }
    }
    .search-detail{margin-bottom: 0;padding-top: 10px;
        span{color: #fd403e;font-weight: bold;}
    }
    .search-con::after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        left: 0;
        height: 2px;
        background-color:#F2F4F7;
    }

}