.search-wrap{
    
    .search-con{
        padding-bottom: 10px;
        position: relative;
        .search-in{width: calc(100% - 80px);}
        .btn-search{width: 70px;float: right;height:32px;
            a{color:#fff;}
        }
    }
    .search-con::after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        left: 0;
        height: 2px;
        background-color:#F2F4F7;
    }

}